<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="<a class="vglnk" href="http://java.sun.com/xml/ns/javaee" rel="nofollow"><span>http</span><span>://</span><span>java</span><span>.</span><span>sun</span><span>.</span><span>com</span><span>/</span><span>xml</span><span>/</span><span>ns</span><span>/</span><span>javaee</span></a>"
    xmlns:xsi="<a class="vglnk" href="http://www.w3.org/2001/XMLSchema-instance" rel="nofollow"><span>http</span><span>://</span><span>www</span><span>.</span><span>w3</span><span>.</span><span>org</span><span>/</span><span>2001</span><span>/</span><span>XMLSchema</span><span>-</span><span>instance</span></a>"
    xsi:schemaLocation="<a class="vglnk" href="http://java.sun.com/xml/ns/javaee" rel="nofollow"><span>http</span><span>://</span><span>java</span><span>.</span><span>sun</span><span>.</span><span>com</span><span>/</span><span>xml</span><span>/</span><span>ns</span><span>/</span><span>javaee</span></a> <a class="vglnk" href="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" rel="nofollow"><span>http</span><span>://</span><span>java</span><span>.</span><span>sun</span><span>.</span><span>com</span><span>/</span><span>xml</span><span>/</span><span>ns</span><span>/</span><span>javaee</span><span>/</span><span>web</span><span>-</span><span>app</span><span>_</span><span>3</span><span>_</span><span>0</span><span>.</span><span>xsd</span></a>">
 
    <display-name>ApacheCXF-JAX-WS-Top-Down-Spring-Hibernate</display-name>
 
    <!-- listener to startup (spring) -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
 
    <!-- loading spring context file from classpath location -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            \WEB-INF\apache-cxf-services.xml,
            classpath:com\jaxws\series\td\spring\hibernate\config\spring-hibernate-jax-ws.xml,
        </param-value>
    </context-param>
 
    <!-- Apache CXF servlet -->
    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
 
    <!-- session timeout -->
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
 
    <!-- welcome file list -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
 
</web-app>